$VeryDarkGray: hsl(0, 0%, 17%);
$DarkGray: hsl(0, 0%, 59%);

img{
    max-height: 100%;
}

ul,li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    min-width: 600px;
    min-height: 600px;
}

//Top side

.top-side{
    height: 30%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/pattern-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        padding: 1.5% 0;
        font-size: 30px;
        color: white;
    }
    .search-bar{
        width: 40%;
        height: 28%;
        position: relative;
        input{
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 20px;
            outline: none;
            padding: 0 10% 0 5%;
            font-size: 18px;
        }
        .submit-button{
            position: absolute;
            display: inline;
            right: 0;
            height: 100%;
            width: 10%;
            border-radius: 0 20px 20px 0;
            border: none;
            background-color: $VeryDarkGray;
            background-image: url("./images/icon-arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
        .submit-button:hover{
            background-color: $DarkGray;
            cursor: pointer;
        }
    }
}
.details{
    z-index: 999999;
    border: none;
    border-radius: 20px;
    height: 50%;
    bottom: -25%;
    position: absolute;
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: space-around;
    .details-section{
        flex: 1;
        height: 100%;
        border-right:1px solid $DarkGray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .detail-name{
            padding:0 0 5% 10%;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            color: $DarkGray;
        }
        .detail{
            text-align: center;
            padding-left: 0;
            font-weight: 500;
            font-size: 20px;
            color: $VeryDarkGray;
        }
    }
    .details-section:last-child{
        border-right: none;
    }
}

//map
#mapid{
    height:70%;
}

//Loading animation

.loader {
    margin-left: 15%;
    border: 5px solid $VeryDarkGray; /* Light grey */
    border-top: 5px solid $DarkGray; /* Blue */
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    animation: spin 2s linear infinite;
    visibility: hidden;
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
}

.show{
    visibility: visible;
}
.top-side .search-bar .hide{
    background-image: none;
    background:$VeryDarkGray;
}

@media(max-width:700px){
    body{
        min-width: 100vw;
        min-height: 100vh;
    }
    .top-side{
        height: 35%;
        h1{
            padding: 5% 0;
            font-size: 24px;
        }
        .search-bar{
            width: 90%;
            height: 25%;
            position: relative;
            input{
                border-radius: 15px;
            }
            .submit-button{
                height: 100%;
                width: 15%;
                border-radius: 0 15px 15px 0;
            }
        }
    }
    .details{
        height: 80%;
        bottom: -40%;
        flex-direction: column;
        .details-section{
            border-right: none;
            .detail-name{
                padding: 0%;
                text-align: center;
                font-size: 10px;
            }
        }
    }
    #mapid{
        height:65%;
    }
    .loader{
        margin-left: 22%;
        width: 50%;
        height: 50%;
    }
}
